<h1></h1>
<!--「http://localhost:3000/youtube_ver2/」でアクセス -->
<!--form_tagは <%= %> -->
<%= form_tag("search", method: "get") do %>
  <fieldset>
  <legend>Youtube検索フォーム</legend>
  <%= text_field_tag :keyword, @keyword, :style=>"width:300px" %>
  <%= submit_tag '検索', :style=>"width:100px" %><br>
  <label><%= radio_button 'video', 'type', '0', {:checked => @videoTyoe0} %>動画　</label>
  <label><%= radio_button 'video', 'type', '1', {:checked => @videoTyoe1}  %>チャンネル　</label>
  <label><%= radio_button 'video', 'type', '2', {:checked => @videoTyoe2}  %>再生リスト　</label>
  <label><%= radio_button 'video', 'type', '3', {:checked => @videoTyoe3}  %>お気に入り　</label>
  </fieldset>
<% end %>
<ul>
<% if @data != nil %>
	<%= form_tag("register", method: "get", remote: true) do %>
	<span style="font-weight: bold;">【検索結果】</span>
	<%= submit_tag 'お気に入り登録', :style=>"width:100px" %><br>
	<!--<%= %>と<% %>の違い -->
	  <% index = 0 %>
	  <% for x,y in @data %>
	    <li><input type="checkbox" name="checkVideoList[<%= index %>]" /><%= x %>　<a href="<%= y %>" target="_blank">Link</a></li>
	    <input type="hidden" value="<%= x %>" name="items[<%= index %>]"  />
	    <input type="hidden" value="<%= y %>" name="items[<%= index %>]"  />
		<% index = index + 1 %>
	  <% end %>
	<% end %>
<% end %>
</ul>